@import "../node_modules/normalize.css/normalize.css"
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato|Open+Sans|Roboto|Raleway)
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css)

$impulseOrange: #F54100
$Ashade1: #FF8B60
$Ashade2: #FF6B35
$Ashade3: #C13400
$Ashade4: #972900

$compliment: #00A95C
$Bshade1: #49C28B
$Bshade2: #25B473
$Bshade3: #008549
$Bshade4: #006839

$flatWhite: #EEF0E3

$logoFont: Alfa Slab One
$bodyFont: Lato


body
  margin: 0
  padding: 0
  background-color: $flatWhite

.title
  color: $impulseOrange
  font-family: $logoFont
  font-size: 84px
  text-align: center
  margin: 0
  margin-top: 200px

.par1
  text-align: center
  width: 80%
  margin: 0 auto
  margin-top: 20px
  font-size: 14px

.med1
  text-align: center
  width: 80%
  margin: 0 auto
  margin-top: 20px
  font-size: 28px

.big1
  text-align: center
  width: 80%
  margin: 0 auto
  margin-top: 20px
  font-size: 42px

.par1, .med1, .big1
  font-family: Lato

footer
  position: fixed
  color: #000
  width: 100%
  height: 28px
  left: 0
  bottom: 0
  text-align: left
  line-height: 28px
  padding: 0

  p
    position: fixed
    left: 20px
    font-size: 18px
    margin: 0
    font-family: $bodyFont

#map
  width: 100%
  height: 400px
  margin-left: auto
  margin-right: auto
  top: 200px

header
  position: fixed
  color: $impulseOrange
  width: 100%
  height: 38px
  left: 0
  top: 0
  text-align: left
  padding: 0

  h3
    position: fixed
    left: 20px
    top: 10px
    margin: 0
    font-size: 38px
    font-family: $logoFont

.overlay
  display: block
  height: 200vh
  width: 100%
  z-index: 98

.overlayTop
  display: block
  position: relative
  background-color: $impulseOrange
  height: 100vh
  z-index: 98
  top: 0

.overlayBottom
  display: block
  position: relative
  background-color: rgba(0,0,0,0)
  height: 100vh
  z-index: 90

.overlayLogo
  position: absolute
  text-align: center
  width: 100%
  margin: 0
  top: 300px
  font-size: 42px
  color: $flatWhite
  font-family: $logoFont
  font-size: 84px
  z-index: 99

.noScroll
  position: fixed
  width: 100%
  top: 0
  z-index: 95
  height: 200vh

.searchForm
  position: relative
  width: 350px
  margin: 0
  padding: 0
  display: inline-block
  height: 25px
  overflow: hidden
  top: 100px
  left: 60px

.search
  height: 100%
  background: rgba(50, 50, 50, 0.2)
  border: 0px solid #dbdbdb

.button
  position: relative
  height: 100%
  padding: 6px 15px
  left: 0px
  border: 2px solid $impulseOrange
  background-color: $impulseOrange
  color: #fafafa

.button:hover
  background-color: #fafafa
  color: #207cca
