@import "../../node_modules/normalize.css/normalize"
@import url(https://fonts.googleapis.com/css?family=Alfa+Slab+One|Lato)
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css)

/* whole app styling */
$impulseOrange: #F54100
$Ashade1: #FF8B60
$Ashade2: #FF6B35
$Ashade3: #C13400
$Ashade4: #972900

$compliment: #00A95C
$Bshade1: #49C28B
$Bshade2: #25B473
$Bshade3: #008549
$Bshade4: #006839

$flatWhite: #EEF0E3

$logoFont: Alfa Slab One
$bodyFont: Lato

*
  vertical-align: baseline
  font-weight: inherit
  font-family: inherit
  font-style: inherit
  font-size: 100%
  border: 0 none
  outline: 0
  padding: 0
  margin: 0

body
  background-color: $flatWhite

/* App.jsx */

/* Footer.jsx */
footer
  position: fixed
  color: #000
  width: 100%
  height: 28px
  left: 0
  bottom: 0
  text-align: left
  line-height: 28px
  padding: 0

  p
    position: fixed
    left: 20px
    font-size: 16px
    margin: 0
    font-family: $bodyFont

/* Header.jsx */
#header
  position: fixed
  color: $impulseOrange
  width: 100%
  height: 38px
  left: 0
  top: 0
  text-align: left
  padding: 0
  z-index: 12

  h3
    position: fixed
    left: 20px
    top: 10px
    margin: 0
    font-size: 38px
    font-weight: bold
    font-family: $logoFont

  a
    color: $impulseOrange
    text-decoration: none
  a:visited
    color: $impulseOrange
  a:hover
    color: $impulseOrange
  a:active
    color: $impulseOrange

/* SearchHeader.jsx */
#searchHeader
  position: fixed
  color: gray
  width: 100%
  height: 24px
  left: 0
  top: 38px
  text-align: left
  padding: 0
  z-index: 10

  h3
    position: fixed
    left: 100px
    top: 48px
    margin: 0
    font-size: 24px
    font-weight: bold
    font-family: $bodyFont

/* ResultsHeader.jsx */
#resultsHeader
  position: fixed
  color: gray
  width: 100%
  height: 24px
  left: 0
  top: 38px
  text-align: left
  padding: 0
  z-index: 10

  h3
    position: fixed
    left: 100px
    top: 48px
    margin: 0
    font-size: 24px
    font-weight: bold
    font-family: $bodyFont

/* LargeSearch.jsx */
.container
  margin: 120px auto 70px auto
  width: 640px

input
  font: $bodyFont
  color: #555860

.search
  position: relative
  margin: 0 auto
  width: 400px
  left: -25px

  input
    line-height: 28px
    font-size: 28px
    height: 40px
    width: 100%
    padding: 0 12px 0 25px
    border: 3px solid
    border-color: #a8acbc #babdcc #c0c3d2
    border-radius: 25px
    vertical-align: bottom
    -webkit-appearance: textfield

    &:focus
      outline: 0
      border-color: $Ashade2

      + .search-ac
        display: block

.search-ac
  width: 400px
  padding-left: 0
  display: none
  position: absolute
  top: 55px
  left: 20px
  right: 0
  z-index: 10
  background: #fdfdfd
  border: 1px solid
  border-color: $flatWhite
  border-radius: 3px

  &:hover
    display: block

  li
    display: block

    &:first-child
      margin-top: -1px

      &:before, &:after
        content: ''
        display: block
        width: 0
        height: 0
        position: absolute
        left: 50%
        margin-left: -5px
        border: 5px outset transparent

      &:before
        border-bottom: 5px solid #c4c7d7
        top: -11px

      &:after
        border-bottom: 5px solid #fdfdfd
        top: -10px

      &:hover
        &:before, &:after
          display: none

    &:last-child
      margin-bottom: -1px

  a
    display: block
    position: relative
    margin: 0 -1px
    padding: 6px 40px 6px 10px
    color: black
    font-weight: 500
    text-decoration: none
    text-shadow: 0 1px white
    border: 1px solid transparent
    border-radius: 3px

    span
      font-weight: 200
      font-family: $bodyFont
      font: $bodyFont

    &:before
      content: ''
      position: absolute
      top: 50%
      right: 10px
      margin-top: -9px
      width: 18px
      height: 18px
      background: url('../images/arrow.png') 0 0 no-repeat

    &:hover
      color: white
      text-shadow: 0 -1px rgba(black, .3)
      background: $Ashade2
      border-color: $Ashade2

:-moz-placeholder
  color: #a7aabc
  font-weight: 200

::-webkit-input-placeholder
  color: #a7aabc
  font-weight: 200
  line-height: 28px

::-webkit-search-decoration,
::-webkit-search-cancel-button
    -webkit-appearance: none

.lt-ie9 .search input
  line-height: 26px

/* Map.jsx */
#loading1
  position: relative
  color: $impulseOrange
  text-align: center
  width: 100%
  top: 225px
  z-index: 10

.map
  z-index: 30
  width: 100%
  height: 400px
  margin-left: auto
  margin-right: auto
  top: 0px

/* RouteMap.jsx */
.routeContainer
  width: 100%
  text-align: center

#loading2
  position: relative
  color: $impulseOrange
  width: 100%
  top: 210px
  z-index: 10

.routeMap
  z-index: 30
  width: 100%
  height: 400px
  margin-left: auto
  margin-right: auto

/* Overlay.jsx */
.chevronBlock
  width: 100%
  text-align: center

#chevron
  display: inline-block
  position: relative
  top: 85vh
  color: $flatWhite

.overlay
  display: block
  height: 200vh
  width: 100%
  z-index: 98

.overlayTop
  display: block
  position: relative
  background-color: $impulseOrange
  height: 100vh
  z-index: 98
  top: 0

.overlayBottom
  display: block
  position: relative
  background-color: rgba(0,0,0,0)
  height: 100vh
  z-index: 98

.overlayLogo
  position: absolute
  text-align: center
  width: 100%
  margin: 0
  top: 250px
  color: $flatWhite
  font-family: $logoFont
  font-size: 118px
  font-weight: bold
  z-index: 99

.overlayUnAdjust
  position: absolute
  top: 100vh
  width: 100%
  z-index: 99

.overlayAdjust
  position: fixed
  width: 100%
  top: 0
  z-index: 95

/* SearchPage.jsx */

/* ResultsPage.jsx */
.results
  margin: 80px auto 0px auto
  padding: 0
  height: 250px
  width: 50%

.resultsFixedHeight
  height: 100vh
  position: fixed
  top: 0
  width: 100%

.primaryResult
  width: 60%
  float: left
  margin-left: 0

.productTitle
  text-align: center
  width: 80%
  border-bottom: 1.5px solid grey
  margin-bottom: 0
  font-size: 36px
  font-weight: bold
  margin-left: auto
  margin-right: auto

.subtitle1
  color: $Ashade2
  padding: 0
  margin: 0
  margin-top: 2px
  margin-left: 70px


.location
  text-align: center
  width: 80%
  border-bottom: 1.5px solid grey
  margin-bottom: 0
  margin-top: 15px
  font-size: 24px
  margin-left: auto
  margin-right: auto

.address
  text-align: center
  width: 80%
  border-bottom: 1.5px solid grey
  margin-bottom: 0
  margin-top: 15px
  font-size: 20px
  font-size: 24px
  margin-left: auto
  margin-right: auto

.imageDiv
  display: inline-block
  width: 40%
  height: 100%

.productImage
  display: block
  margin-left: 0
  border: 1px solid black
  border-radius: 3px
  height: 100%

.secondaryResults
  margin-top: 30px
  width: 100%

  h4
    text-align: center
    width: 40%
    margin-right: auto
    margin-left: auto
    font-size: 24px
    font-weight: bold
    color: black
  ul
    text-align: center
    width: 40%
    margin-right: auto
    margin-left: auto
    list-style-type: none
  li
    display: inline-block
    font-size: 14px
    margin: 5px 10px 5px 10px
    a
      color: grey
      text-decoration: none
    a:visited
      color: grey
    a:hover
      color: $impulseOrange

/* SmallSearch.jsx */
.container2
  margin-top: 25px
  width: 100%

.search2
  position: relative
  margin: 20px auto 40px auto
  width: 300px
  left: -25px

  input
    height: 26px
    width: 100%
    padding: 0 25px 0 25px
    background: white url('../images/search.png') 8px 6px no-repeat
    border: 1px solid
    border-color: #a8acbc #babdcc #c0c3d2
    border-radius: 13px
    -webkit-appearance: textfield

    &:focus
      outline: 0
      border-color: $Ashade1

      + .search-ac
        display: block


/* Splash.jsx */
.title
  color: $impulseOrange
  font-family: $logoFont
  font-size: 84px
  text-align: center
  margin: 0
  margin-top: 200px
  font-weight: bold

.par1
  text-align: center
  width: 80%
  margin: 0 auto
  margin-top: 20px
  font-size: 14px

.med1
  text-align: center
  width: 80%
  margin: 0 auto
  margin-top: 20px
  font-size: 28px

.big1
  text-align: center
  width: 80%
  margin: 0 auto
  margin-top: 20px
  font-size: 42px

.par1, .med1, .big1
  font-family: $bodyFont

@media (max-width: 639px)
  .results
    flex-direction: column
